* {
    padding: 0;
    margin: 0;

}

.flex-container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    padding: 10px;
    margin: 0 0 0 0;
}

nav {
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.welcome {
    background-color: black;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding-bottom: 20px;
}

.welcomeimg img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcomeText {
    font-family: 'Gill Sans', sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 70px;
    text-align: left;
}

h2 {
    padding: 10px;
    font-size: 30px;
    text-align: left;
    font-weight: 50
}

h3 {
    font-size: 20px;
    text-align: left;
    font-weight: 50;
    padding: 10px;
}

aside {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

aside img {
    width: 100%
}

.article {
    width: 30%;
    margin-left: 10px;
}

.articleTitle {
    padding-top: 10px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
     transition: all 0.5s ease;
}

h5 {
    font-family: monospace;
    font-size: 15px;
}

footer {
    margin-top: 20px;
}

p {
    font-size: 13px;
    font-family: monospace;
    color: gray;
    padding-top: 10px;

}

a:hover {
    color: #aca59f
}

.article img{
    
}

.overlay {
    
}
